# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Środowisko
.env
*.egg-info/

# Dane i modele
data/*
!data/01_raw/
!data/01_raw/.gitkeep
data/01_raw/*.csv
data/01_raw/*.sqlite
*.db
*.pkl
AutogluonModels/

# W&B
wandb/

# IDE
.vscode/
.idea/

# macOS
.DS_Store